# stac

In [1]:
from hydro_opendata.stac.minio import Era5_land, GPM_IMERG_Early, GFS_atmos
import geopandas as gpd

In [2]:
aoi = gpd.read_file('test.geojson')
aoi

   id                                           geometry
0   0  MULTIPOLYGON (((122.44241 39.80139, 122.39342 ...

In [3]:
era5 = Era5_land()
e = era5.search(aoi=aoi)
e

,id,start_time,end_time,geometry
0,era5-land,2015-07-01,2022-12-31 23:00:00,"POLYGON ((122.39342 39.81027, 122.31744 39.833..."

In [4]:
gpm = GPM_IMERG_Early()
g = gpm.search(aoi=aoi)
g

,id,start_time,end_time,geometry
0,gpm-imerg-early,2016-01-01,2023-08-30 00:30:00,"POLYGON ((122.39342 39.81027, 122.31744 39.833..."

In [5]:
gfs = GFS_atmos('tp')
f = gfs.search(aoi=aoi)
f

,id,start_time,end_time,geometry
1,gfs_atmos.tp,2022-09-01,2023-08-30 00:00:00,"POLYGON ((122.39342 39.81027, 122.31744 39.833..."
0,gfs_atmos.tp,2016-07-10,2022-08-31 18:00:00,"POLYGON ((122.39342 39.81027, 122.31744 39.833..."

In [6]:
from leafmap import Map

In [7]:
m = Map()

In [8]:
m.add_gdf(e)
# m.add_gdf(f)
# m.add_gdf(g)

In [9]:
m

Map(center=[40.00107878706825, 122.52224403745379], controls=(AttributionControl(options=['position', 'prefix'â€¦